.box-settings{
  --var-medida: 20px;
  width: calc(var(--var-medida));
  height: calc(var(--var-medida));
  color: var(--black-color);
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: 3s ease;
}

/* .box-settings.active{
  transform: rotate(90deg);
}
.box-settings.inactive{
 transform: rotate(0deg);
} */

.menu{
  background-color: var(--bg-menu-color);
  color: var(--fg-menu-color);
  --var-medida: 200px;
  width: calc(var(--var-medida));
  height: calc(var(--var-medida) * 1.5);
  border-radius: calc(var(--var-medida) / 30);
  border: 1px solid var(--border-color);
  position: absolute;
  top: 25px;
  right: 0px;
  z-index: 100;
  font-size: .8rem;
  /* overflow: scroll; */
  /* opacity: 0; */
  /* transform: translateY(150px); */
  transition: 3s ease-in;
}

.menu.active{
  opacity: 1;
  transform: translateY(0px);
}

.menu.inactive{
  opacity: 0;
  transform: translateY(150px);
}

.menu li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}