.menu{
  background-color: var(--bg-menu-color);
  color: var(--fg-menu-color);
  --var-medida: 200px;
  width: calc(var(--var-medida));
  height: calc(var(--var-medida) * 1.5);
  border-radius: calc(var(--var-medida) / 30);
  border: 1px solid var(--border-color);
  position: absolute;
  top: 100%;
  right: 12px;
  z-index: 100;
  font-size: .8rem;
  /* overflow: scroll; */
  opacity: 0;
  transform: translateY(150px);
  transition: .5s ease-in;
}

.menu.active{
  opacity: 1;
  transform: translateY(0px);
}


.menu li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}