
.gradient-wheel {
  --var-medida:45px;
  width: var(--var-medida);
  height: var(--var-medida);
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
}

.gradient-options {
  z-index: 30;
  position: absolute;
  bottom: 65px;
  left: 20px;
  width: 45px;
  height: auto;
}

.gradient-options ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gradient-options ul .gradient {
  --var-medida:45px;
  width: var(--var-medida);
  height: var(--var-medida);
  border-radius: 50%;
  cursor: pointer;
}