/* body */
.is-dark-mode {
  --light-color:    #2b343a;
  --dark-color:     #f0f3f5;
  --card-color:     #2f3338;
}


/* boton */
.darkMode {
  --var-medida: calc(26px);
  width: calc(var(--var-medida) * 2.25);
  height: var(--var-medida);
  border-radius: var(--var-medida);
  background-color: var(--dark-color);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.darkMode::after {
  content: '';
  display: block;
  --var-medida: 26px;
  --var-new-medida: calc(var(--var-medida) - 6px);
  width: var(--var-new-medida);
  height: var(--var-new-medida);
  border-radius: var(--var-new-medida);
  background-color: var(--light-color);
  position: absolute;
  top: calc((var(--var-medida) - var(--var-new-medida)) / 2);
  left: calc((var(--var-medida) - var(--var-new-medida)) / 2);
  right: unset;
}

.darkMode.active::after {
  left: unset;
  right: calc((var(--var-medida) - var(--var-new-medida)) / 2);
}