
body {
  height: 100vh;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.darkMode {
  --var-medida: calc(26px);
  width: calc(var(--var-medida) * 2.25);
  height: var(--var-medida);
  border-radius: var(--var-medida);
  background-color: var(--dark-color);
  -webkit-box-shadow: var(--default-shadow);
          box-shadow: var(--default-shadow);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.darkMode::after {
  content: '';
  display: block;
  --var-medida: 26px;
  --var-new-medida: calc(var(--var-medida) - 6px);
  width: var(--var-new-medida);
  height: var(--var-new-medida);
  border-radius: var(--var-new-medida);
  background-color: var(--card-color);
  position: absolute;
  top: calc((var(--var-medida) - var(--var-new-medida)) / 2);
  left: calc((var(--var-medida) - var(--var-new-medida)) / 2);
  right: unset;
}

.darkMode.active {
  background-color: #f0f3f5;
}

.darkMode.active::after {
  left: unset;
  right: calc((var(--var-medida) - var(--var-new-medida)) / 2);
  background-color: #343a40;
}